.map-layer-icon {
	margin: 0.25rem;
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.25rem;
	vertical-align: middle;
}

.map-layer-name {
	vertical-align: middle;
}

.leaflet-control-layers-selector:checked ~ * > .map-layer-name {
	font-weight: bold;
}

.leaflet-control-container .leaflet-top.leaflet-right {
	font-size: 1.2rem;
}
